channels-redis
paypalrestsdk
reportlab
pyclamd
pytesseract
Pillow
django-countries
django-filter
dj-rest-auth
django-cors-headers
django-allauth
channels
psycopg2-binary
pytz
stripe
twilio
holidays
razorpay
num2words
djangorestframework
Django
qrcode
django-redis
django-axes
captcha
django-crontab

SQLAlchemy
ollama
python-dotenv
httpx
fastapi
pydantic-settings
uvicorn
asyncpg
airllm
langdetect
python-multipart
